<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let storeitem of storeItems.getStoreItem()" routerLinkActive="selected"
        group="{{storeitem.state}}">
        <a appAccordionToggle [routerLink]="['/store',storeitem.state]"
            *ngIf="(storeitem.role === '' || storeitem.role === tokenPayload.role)">
            <mat-icon>{{storeitem.icon}}</mat-icon>
            <span>{{storeitem.name}}</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
</mat-nav-list>