<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Signup</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="employee_name" required>
                <mat-error *ngIf="signupForm.controls.employee_name.touched && signupForm.controls.employee_name.invalid">
                    <span *ngIf="signupForm.controls.employee_name.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.employee_name.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="employee_phone" required>
                <mat-error *ngIf="signupForm.controls.employee_phone.touched && signupForm.controls.employee_phone.invalid">
                    <span *ngIf="signupForm.controls.employee_phone.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.employee_phone.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Salary</mat-label>
                <input matInput formControlName="salary" required>
                <mat-error *ngIf="signupForm.controls.salary.touched && signupForm.controls.salary.invalid">
                    <span *ngIf="signupForm.controls.salary.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.salary.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Joining Date</mat-label>
                <input matInput formControlName="join_year" required>
                <mat-error *ngIf="signupForm.controls.join_year.touched && signupForm.controls.join_year.invalid">
                    <span *ngIf="signupForm.controls.join_year.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.join_year.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                    <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                    <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.password.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(signupForm.valid && signupForm.dirty)">Sign Up!</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>